$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 992px,
  lg: 1200px
);

.wrapper {
  display: grid;
  grid-template:
    "header header header" 10vh
    "aside-right content aside-left" 90vh
    / 350px 1fr 350px;

  // @media (min-width: map-get($grid-breakpoints, xs)) {
  // }

  // @media (min-width: map-get($grid-breakpoints, sm)) {
  // }

  // @media (min-width: map-get($grid-breakpoints, md)) {
  // }

  // @media (min-width: map-get($grid-breakpoints, lg)) {
  // }
}

.header {
  grid-area: header;
  background-color: darkslategrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  grid-area: content;
  background-color: whitesmoke;
  // z-index: 1;
  box-shadow: -6px 11px 19px 10px rgba(34, 60, 80, 0.2);
  -webkit-box-shadow: -6px 11px 19px 10px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -6px 11px 19px 10px rgba(34, 60, 80, 0.2);
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: floralwhite;
}